<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>VAR_TITLE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Linux SSL VPN server compatible with AnyConnect SSL VPN" />
    <meta name="keywords" content="OpenConnect, AnyConnect, Cisco, VPN, SSLVPN, SSL VPN" />
    <link href="VAR_ORIGINstyles/main.css" rel="styleSheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="VAR_ORIGINimages/favicon.ico">
    <meta http-equiv="Refresh" content="0; url='https://ocserv.openconnect-vpn.net/_FILENAME_'" />
    <link rel="canonical" href="https://ocserv.openconnect-vpn.net/_FILENAME_">
 </head>
 
<body>
   <div id="main">

